<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

	<session-factory>

		<property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="connection.driver_class">org.postgresql.Driver</property>
		<property name="connection.url">jdbc:postgresql:postgres</property>
		<property name="connection.username">mmorpg</property>
		<property name="connection.password">mmorpg</property>

		<property name="cache.provider_class">org.hibernate.cache.HashtableCacheProvider</property>

		<property name="transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
		<property name="hibernate.enable_lazy_load_no_trans">true</property>
		<property name="current_session_context_class">thread</property>
		<property name="hibernate.show_sql">false</property>

		<mapping resource="hibernate.mapping.cfg.xml" />

	</session-factory>

</hibernate-configuration>